:root {
  --primery-text-color--: #757575;
  --title-color-text--: #212121;
  --accent-color--: #2196f3;
  --wite-color--: #ffffff;
  --wite-color-accent--: #ffffff 60%;
  --prymeri-bgc--: #2f303a;
  --white-bgc--: #f5f4fa;
}

body {
  display: block;
  font-family: 'Roboto', sans-serif;
    color: var(--primery-text-color--);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

p {
  margin: 0;
}

h1,h2,h3 {
  margin: 0 auto;
}
a{
  text-decoration-line: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
  box-sizing: border-box;
}



*, ::after, ::before {
  box-sizing: border-box;
}

/* -------------------------HEADER--------------------------- */

.header{
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
}


  /* ---logo---- */

  .logo {
color: var(--title-color-text--);
  }
  .logo__link {
    color: var(--title-color-text--);
    font-family: "raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-right: 93px;
}  
  .logo__text {
    color: var(--accent-color--);
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }


/* ---nav--- */

.nav {

}

.nav__list {
  display: flex;

}
.nav__list .current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color--);
  border-radius: 2px;
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  color: var(--title-color-text--);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus,{
  color: var(--accent-color--);
  outline: 0;
}

.nav_items:not(:last-child) {
margin-right: 50px;
}

.current {
  color: var(--accent-color--);
  position: relative;
}

/* ---infolist--- */

.info-list {
  display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 301px;
}


.info-list__item {
  display: flex;
}

.info-list__item:not(:last-child) {
margin-right: 30px;}

.info-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--primery-text-color--);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-list__link:hover,
.info-list__link:focus {
  color: var(--accent-color--);
  outline: 0;}


.info-list__images {
  margin-right: 10px;
  fill: currentColor;
}




/* -------------------------MAIN--------------------------- */

/* ---hero--- */

.hero {
  background-size: cover;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg) no-repeat center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}
.hero__title {
  color: var(--wite-color--);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  margin: 0;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}
.hero__button {
  margin-top: 30px;
  color: #ffffff;
  background-color: var(--accent-color--);
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: none;
}

/* ---FEATURE--- */

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.fearure__antenna::before, .fearure__clock::before, .fearure__diagram::before, .fearure__astronaut::before {
  display: flex;
  content: "";
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.fearure__antenna,
.fearure__clock,
.fearure__diagram,
.fearure__astronaut {
  width: 270px;
}


.fearure__antenna::before {
  background-image: url(../images/antenna\ .svg);
  background-repeat: no-repeat;
  background-position: center;}

.fearure__clock::before {
  background-image: url(../images/clock\ .svg);
  background-repeat: no-repeat;
  background-position: center;
}
.fearure__diagram::before {
  background-image: url(../images/diagram\ .svg);
  background-repeat: no-repeat;
  background-position: center;
}
.fearure__astronaut::before {
  background-image: url(../images/astronaut\ .svg);
  background-repeat: no-repeat;
  background-position: center;
}

.feature__list {
  display: flex;
  justify-content: space-between;
}

.fearure__title {
  color: var(--title-color-text--);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.fearure__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}


/* ---WWD--- */

.wwd {
  padding-bottom: 94px;
}
.wwd__title {
  margin-bottom: 50px;
  color: var(--title-color-text--);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.wwd__list {
  display: flex;
  justify-content: space-between;
}
.wwd__item {
  position: relative;
}
.wwd__images {
}
.wwd__images__title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  font-family: Roboto;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--wite-color--);
}

/* ---TEAM--- */

.team {
  background-color: var(--white-bgc--);
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}

.team__title {
  color: var(--title-color-text--);
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__card {
  display: flex;
    justify-content: center;
    align-items: center;
}
.team__info {
  background-color: var(--wite-color--);
  width: 270px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin: 0 15px;
}


/* team__profile */
.team__profile {
  padding-top: 30px;
  margin-bottom: 16px;
}
.team__profile__title {
  color: var(--title-color-text--);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__profile__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

/* icons-list */
.icons-list {
  justify-content: space-between;
  display: flex;
  padding-left: 32px;
  padding-bottom: 30px;
  padding-right: 32px;
}

.icons-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-list__link:focus,
.icons-list__link:hover {
  background-color: var(--accent-color--);
  fill: var(--wite-color--);
  outline: 0;}

/* ---REGULAR--- */

.regular {

}
.regular__title {
  color: var(--title-color-text--);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  margin-bottom: 50px;
}
.regular__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 94px;
}

.regular__link {
  display: flex;
  border: 1px solid #AFB1B8;
  fill: #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular__link:focus,
.regular__link:hover {
    border-color: var(--accent-color--);
    fill:var(--accent-color--);
    outline: 0;
}


/* -------------------------FOOTER--------------------------- */

footer{
  background-color: var(--prymeri-bgc--);

}
.footer {
  display: flex;
  justify-content: start;
  padding-bottom: 60px;
}

/* footer-info */

.footer-info {
}

.footer-info__logo {
  margin-top: 60px;
}
.footer-info__logo__link {
  text-decoration-line: none;
  color: var(--accent-color--);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}

.footer-info__logo__text {
color: var(--wite-color--);
}

.footer-info__text {
  color: var(--wite-color--);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 20px;
}

/* info-list */

.footer-info-list {
}
.footer-info-list__item {
  margin-top: 9px;
}
.footer-info-list__item:not(:last-child){
  margin-right: 30px;
}
.footer-info-list__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
}

/* footer-join */

.footer-join {
  margin-left: 70px;
  margin-top: 72px;
}
.footer-join__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-color--);
  margin-bottom: 20px;
}
.footer-join__list {
  display: flex;
  align-items: center;
}
.footer-join__item {
  width: 44px;
  height: 44px;
}
.footer-join__item:not(:last-child) {
  margin-right: 10px;
}
.footer-join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join__link:focus,
.footer-join__link:hover {
  background-color: var(--accent-color--);
  outline: 0;
}

.footer-join__images {
}

/* subscribe */

.subscribe {
  margin-left: 93px;
  margin-top: 72px;
  width: 570px;
}
.subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-color--);
  margin-bottom: 20px;
}
.imput_conteiner{
  display: flex;
  justify-content: space-between;
}
.subscribe__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: var(--prymeri-bgc--);
  padding-left: 16px;
  
}
.subscribe__button {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 29px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--wite-color--);
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.subscribe__images {
  fill: var(--wite-color--);
  margin-left: 10px;
}

/* MODALKA */

.backdrop {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.2);
  position: fixed;
}

.modal-screen {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primery-text-color--);
}

.input-first {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background: #FFFFFF;
  position: relative;
  padding-left: 42px;
  color: #212121;
}

.modal-section {
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-section-feedback {
  margin-bottom: 20px;
  margin-top: 4px;
}

.modal-form-icon {
  color: var(--title-color-text--);
  position: absolute;
  top: 14px;
  left: 14px;
  width: 15px;
  height: 12px;
  transform: translate(-50% -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-first:hover + .modal-form-icon,
.input-first:focus + .modal-form-icon {
  fill: var(--accent-color--);
}

.input-first:hover,
.input-first:focus {
  border-color: var(--accent-color--);
}

.checkbox {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.checkbox__link {
  color: var(--accent-color--);
  text-decoration: underline;
}

.check-icon {
  width: 16px;
  height: 15px;
  border: 2px solid black;
  display: block;
}

.check-input {
  appearance: none;
  visibility: hidden;
}

.check-label {
  display: flex;
  display: flex;
  width: 423px;
  justify-content: space-between;
  align-items: center;
}

.check-input:checked + .check-icon {
  background-image: url(../images/icon\ check.svg);
  border: none;
  background-position: center;
  background-size: cover;
}

.modal-section-feedback__text {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}

.backdrop__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-batton {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-bgc--);
  margin-top: 30px;
}

.close-btn {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 8px;
  right: 8px;
  position: absolute;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus {
  outline: none;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* -----------------------PORTFOLIO-------------------------- */


.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--accent-bgc--);
}

.portfolio__list {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}
.portfolio__list__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio__button {
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  background-color: var(--white-bgc--);
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover,
.portfolio__button:focus {
  color: var(--wite-color--);
  background-color: var(--accent-color--);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: 0;
}

.portfolio__conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}
.portfolio__item {
  margin: 15px;
  position: relative;
}
.portfolio__link {
  display: block;
  text-decoration: none;
}
.portfolio__card {
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.portfolio__text {
  position: absolute;
  height: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  top: 100%;
  padding: 63px 24px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
  border-radius: 4px;
  outline: 0;
}

.portfolio__bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-top: none;
}
.portfolio__title {
  color: var(--title-color-text--);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.portfolio__class {
  color: var(--primery-text-color--);
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
}