.header {
    border-bottom: 1px solid #ececec;
    display: flex;
    align-items: center;
  }
.logo {
    color: var(--title-color-text--);
    &__link {
        color: var(--title-color-text--);
        font-family: "raleway";
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        margin-right: 93px;
    }
      &__text {
        color: var(--accent-color--);
        font-family: Raleway;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
    }
}
.nav{
  &__list {
    display: flex;
    & .current::after {
      content: "";
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color--);
      border-radius: 2px;
    }
  }
  &__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    color: var(--title-color-text--);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color--);
      outline: 0;
    }
  }
  &_items:not(:last-child) {
    margin-right: 50px;
  }
}
  .current {
    color: var(--accent-color--);
    position: relative;
  }
  .info-list {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 301px;
    &__item {
      display: flex;
    }
    &__item:not(:last-child) {
      margin-right: 30px;
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: var(--primery-text-color--);
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:hover,
    &__link:focus {
      color: var(--accent-color--);
      outline: 0;
    }
    &__images {
      margin-right: 10px;
      fill: currentColor;
    }
  }